<h3>Actions</h3>
<div ng-hide="ready">
  <div class="alert alert-warning">
    Please wait untill the whole collection is loaded
  </div>
  <center>
    <img style="width: 100%;" src="images/waiting.gif"/>
  </center>
</div>
<div ng-show="ready">
  <hr>
  <div ng-hide="finish">
    Executing {{itemCount}} of {{count}}
    <progressbar animate="true" value="percent" type="primary" class="progress-striped active"><b>{{percent}}%</b></progressbar>
    <button type="button" ng-click="cancelStop()" class="btn btn-danger">Cancel</button>
    <button type="button" ng-click="continue()" class="btn btn-success">Continue</button>
  </div>
  <div class="alert alert-success" ng-show="finish">
    Done!
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>List of {{formAction}} limit to 50</h3>
    </div>
    <div class="col-md-6" style="text-align: right; vertical-align: bottom" ng-show="finish">
      <a href="files/actionProducts.csv">CSV with all the {{formAction}}</a>
    </div>
  </div>
  <table class="table table-striped table table-striped table-condensed table-hover">
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
    <tr ng-repeat="product in products | limitTo:50">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
    </tr>
  </table>
</div>