<h4>List of filtered products</h4>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<div ng-hide="status">
  <div class="alert alert-warning">
    Please wait... you know, sometimes Magento takes a long time...
  </div>
</div>
<div ng-show="visible">
<form role="form" ng-submit="actions()" name="form">
  <div class="form-inline" ng-show="status">
      <label for="category">Add to:</label>
      <div class="alert alert-warning" ng-hide="catStatus">We're loading the categories, so please wait...</div>
      <select ng-model="category" class="form-control form-inline" ng-show="catStatus">
        <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}} (id:{{category.id}})</option>
      </select>
      <button type="submit" class="btn btn-default form-inline" ng-model="moveTo"     ng-click="moveToCategory()">Add</button>
  </div>
  <br>
  <div class="row" ng-show="status">
    <div class="col-md-6">
      <button type="submit" class="btn btn-success" ng-model="isEnable"   ng-click="setIsEnable()">Enable</button>
      <button type="submit" class="btn btn-warning" ng-model="isDisable"  ng-click="setIsDisable()">Disable</button>
      <button type="button" class="btn btn-danger"  ng-model="isDelete"   ng-click="open()">Delete</button>
    </div>
  </div>

  <pagination ng-show="pageStatus" ng-click="init()" total-items="total" ng-model="Params.currentPage" max-size="20" items-per-page="Params.pageLength" class="pagination-sm" boundary-links="true" rotate="false"></pagination>

  <div class="row" ng-show="status">
    <div class="col-md-6">
      <a href="" ng-click="selectAll()">Select all</a>
      |
      <a href="" ng-click="selectNone()">Select none</a>
      |
      (Total products: <span name="count">{{total}}</span>)
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: right">
      Products per page:
      <a href="" ng-click="ten()">10</a>
      | <a href="" ng-click="fifty()">50</a>
      | <a href="" ng-click="houndred()">100</a>
    </div>
  </div>
  <table class="table table-striped table-condensed table-hover" ng-show="status" ng-table="table" show-filter="true">
    <tr>
      <th></th>
      <th>id</th>
      <th>Name</th>
      <th>Sku</th>
      <th>Enabled</th>
    </tr>
    <tr ng-repeat="product in products">
      <td><input type="checkbox" ng-model="product.idSelected" ng-click="selection(product.id)"></td>
      <td>{{product.id}}</td>
      <td><a id="product_link" href="{{product.url}}" target="_new">{{product.name}}</a></td>
      <td>{{product.sku}}</td>
      <td>{{product.status}}</td>
    </tr>
  </table>
</div>
</form>
<div class="alert alert-warning" ng-hide="visible">
  Your search does not match any items
</div>
<!-- MODAL DIALOG !-->
<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Are you sure?</h3>
        </div>
        <div class="modal-body">
          This action will delete the selected products and their linked images.<br>
          <strong>It cannot be undone</strong>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="ok()">Delete them anyway</button>
            <button class="btn btn-default" ng-click="cancel()">No!</button>
        </div>
</script>