<h4>Please choose your filter options</h4>
<hr>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <form role="form" ng-submit="search(form)" name="form">
    <label for="productName">Filter by name: </label>
        <input class="form-control" ng-model="productName" name="productName">
   <hr>
  <h4>Dates</h4>
  <div class="row">
    <div class="col-md-6">
        <label for="filter">Filter by: </label>
        <select name="filter_select" ng-model="filter" class="form-control">
          <option value="updated">Updated at</option>
          <option value="created">Created at</option>
        </select>
     </div>
   </div>
   <div class="row" ng-show="filter">
        <div class="col-md-6">
            <label for="from">From: </label>
            <p class="input-group">
                <input type="text" name="from" class="form-control" datepicker-popup="{{format}}" is-open="opened1" min-date="'2000-01-01'" max-date="todayday" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-model="from"/>
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event, 'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <div class="col-md-6" ng-show="filter">
            <label for="to">To: </label>
            <p class="input-group">
                <input type="text" name="to" class="form-control" datepicker-popup="{{format}}" is-open="opened2" min-date="'2000-01-01'" max-date="todayday" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-model="to" ng-click="open($event, 'opened2')"/>
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event, 'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>
  <hr>
  <h4>Price</h4>
  <div class="row">
        <div class="col-md-6">
            <label for="priceFrom">From: </label>
            <input type="number" ng-model="priceFrom" class="form-control" placeholder="0" name="fromP">
        </div>
        <div class="col-md-6">
            <label for="priceTo">To: </label>
            <input type="number" ng-model="priceTo" class="form-control" placeholder="0" name="toP">
        </div>
    </div>
  <hr>
  <h4>Quantity</h4>
  <div class="row">
    <div class="col-md-6">
        <label for="qtyFrom">From: </label>
        <input type="number" ng-model="qtyFrom" class="form-control" placeholder="0" name="fromQ">
    </div>
    <div class="col-md-6">
        <label for="atyTo">To: </label>
        <input type="number" ng-model="qtyTo" class="form-control" placeholder="0" name="toQ">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <label for="category">Type: </label>
      <select ng-model="type_id" class="form-control" name="typeId">
      	<option value="simple">simple</option>
      	<option value="configurable">configurable</option>
      	<option value="bundle">bundle</option>
      	<option value="grouped">grouped</option>
      	<option value="virtual">virtual</option>
      </select>
    </div>
    <div class="col-md-6" >
      <div ng-show="catStatus">
          <label for="category">Category: </label>
          <select ng-model="category" class="form-control" name="categoryIn">
            <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}} (id:{{category.id}})</option>
          </select>
      </div>
     <div class="alert alert-warning" ng-hide="catStatus">
        We're loading the categories, so please wait...
    </div>
    </div>
  </div>
  <br ng-hide="catStatus">


  <hr>
  <h4>Special options</h4>
  <div class="row">
        <div class="col-md-3">
          <div class="checkbox">
          <label>
            <input type="checkbox" value="true" ng-model="noStock" name="chNStock">
            Products with no stocks
            </label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true" ng-model="noPicture" name="chNPictures">
              Products with no pictures
            </label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true" ng-model="enabledProducts" name="chEProducts">
              Enabled products
            </label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true" ng-model="disabledProducts" name="chDProducts">
              Disabled products
            </label>
          </div>
        </div>
      </div>
  <hr>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>